<configuration>

	<timestamp key="TIME_BY_HMS" datePattern="HH.mm.ss"/>
	<timestamp key="TIME_BY_YMD" datePattern="yyyy-MM-dd"/>
	
	<property name="LOG_DATEFORMAT_PATTERN" value="HH:mm:ss.SSS"/>
	<property name="LOG_LEVEL_PATTERN" value="%5p"/>
	<property name="LOG_CONSOLE_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} --- %-40.40logger{39} : %m%n"/>
	<property name="LOG_FILE_PATTERN" value="%m%n"/>
	
	<property name="LOG_DIR_BASE" value="/home/lvuser/logback/"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="frc.robot.lib.logback.ConsoleFilter" />
		<encoder>
			<pattern>${LOG_CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR_BASE}/${TIME_BY_YMD}/${TIME_BY_HMS}.log</file>
		<filter class="frc.robot.lib.logback.FileFilter" />
		<encoder>
			<pattern>${LOG_FILE_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="DEBUG_FILE"/>
	</root>

</configuration>